@model IEnumerable<WebApplication5.Models.Tblcustomer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuusername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cupassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuprofile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cumail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuusername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cupassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuprofile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cumail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Customerid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Customerid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Customerid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
