@model WebApplication5.Models.Tblpackage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tblpackage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clicks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clicks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phototgrapher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phototgrapher.Photographerid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Packageid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
