@model IEnumerable<WebApplication5.Models.Tblpackage>

@{
    ViewData["Title"] = "Index";
}

<h1 aling="center"> Edit Package</h1>


        <table class="table" border="1" aling="center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Clicks)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Clicks)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Packageid">Edit</a> |

                            <a asp-action="Delete" asp-route-id="@item.Packageid">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
  
