@model IEnumerable<WebApplication5.Models.Tblappointment>

@{
    ViewData["Title"] = "Details";
}

<h1 align="center">Appointment</h1>


<table class="table" align="center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointmentdesc)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photographer.Photographername)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Appointmentdesc)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Slot.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Appstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photographer.Photographername)
            </td>

        </tr>
        }
    </tbody>
</table>
